.Rproj.user
.Rhistory
.RData
.Rproj

*.Rproj

*.log

bm_demo.gif

*.history

Proj-Publishment/201406-IJGI/reviewer4.docx
*.Rhistory
Proj-Experiment/201409-regression(IJGIS)/experiment-IJGIS.html
Proj-Experiment/201409-regression(IJGIS)/.Rhistory
*.Rhistory
*.Rhistory
Proj-Experiment/201409-regression(IJGIS)/.Rhistory
Proj-Experiment/201411-predictability(CEUS)/experiment-CEUS-2_cache/html/data.loading_4a5f13309df44f2ed9b65c9c6e0520fb.RData
Proj-Experiment/201411-predictability(CEUS)/experiment-CEUS-2_cache/html/data.loading_4a5f13309df44f2ed9b65c9c6e0520fb.rdb
Proj-Experiment/201411-predictability(CEUS)/experiment-CEUS-2_cache/html/data.loading_4a5f13309df44f2ed9b65c9c6e0520fb.rdx
Proj-Experiment/201411-predictability(CEUS)/experiment-CEUS-2_cache/html/hour.impact_2946c6ba26563d98391916e834e06aa8.RData
*.rdb
*.RData
*.rdx
Proj-Experiment/201411-predictability(CEUS)/exp.steps/data/testmodels/models.Rda
