.Rproj.user
.Rhistory
.RData
.Rproj

*.Rproj

*.log

bm_demo.gif

*.history

Proj-Publishment/201406-IJGI/reviewer4.docx
*.Rhistory
Proj-Experiment/201409-regression(IJGIS)/experiment-IJGIS.html
Proj-Experiment/201409-regression(IJGIS)/.Rhistory
